*{
  border-radius: 20px;
}

body {
  background-color: #1A090D;
  color: whitesmoke;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #4A314D;
  padding: 10px;
  font-size: 3em;
  text-shadow: 3px 3px 3px red;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  position: fixed;
  width: 98%;
  margin: 0 auto;
  height: 100px;
  z-index: 1;
  margin-top: none;
  margin-bottom: 100px;
  overflow: hidden;
}

h3 {
  display: inline;
  justify-content: space-between;
  color: whitesmoke;
  margin-left: 50px;
}

.index-image {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

img {
  width: 60vw;
  display: block;
  margin: 0 auto;
  border: 2px solid whitesmoke;
  margin-right: 20px;
  border-radius: 20px;
}

main {
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
}

.blurb {
  background-color: #6B6570;
  border: 2px solid whitesmoke;
  padding: 10px;
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
}

.quote {
  font-size: 4rem;
}

.running, .coding, .rocking, .section1, .section2, .section3 {
  display: flex;
  margin: 10px;
}

.textarea {
  background-color: #4A314D;
  border: 2px solid whitesmoke;
  padding: 20px;
  font-size: 3em;
  margin: 10px;
}

footer {
  text-align: center;
  background-color: #4A314D;
  text-shadow: 3px 3px 3px red;
  border: 2px solid whitesmoke;
}

.codingimg {
  order: 1;
  margin-left: 10px;
}
